# Các thư viện phụ thuộc (Không bao giờ đẩy lên github)
node_modules/
/dist
/build

# File log khi chạy hoặc cài thư viện bị lỗi
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Thư mục môi trường local (chứa key bí mật, thông tin cấu hình API)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# File hệ thống của máy tính (Mac hoặc Windows tự sinh ra)
.DS_Store
Thumbs.db

# Thư mục cấu hình của các IDE (VS Code, WebStorm)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
